body {
    display: flex;
    flex-direction: column;
    height: 98vh;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.container {

    display: flex;
    flex-direction: column;

    /* background-color: black; */
    height: 900px;
    width: 900px;
    border: solid black 2px 
    
}

.subContainer {

    display: flex;
    flex: 1;
    margin: 0px;
}

.gridSquare {
    display: flex;
    flex: 1;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    margin: 0px;
}

.change {
    margin: 10px;
    width: 150px;
    padding: 10px;

}